Installer/OllamaSetup.exe
GodotApp/BPMNAI/bpmnai-studio/Logs/ChatLogs/chat_2025-12-07T15-46-07.txt
GodotApp/BPMNAI/bpmnai-studio/Logs/CreatedJson/bpmn_2025-12-14T11-04-58.json
*.txt
*.import
GodotApp/BPMNAI/bpmnai-studio/Logs/BPMNPngs/Screenshot 2025-12-21 153346.png.import
GodotApp/BPMNAI/bpmnai-studio/Logs/BPMNPngs/Screenshot 2025-12-21 153346.png.import
